.header{
    max-height: 40rem;
    height: 40rem;
    overflow: hidden;
    background-image: 'url('+Back+')';
}

.image-back{
    width: 75%;
}

.image-front{
    width: 75%;
    margin-top: -5rem;
    margin-left: 5rem;
}

h3{
    color: #262138;
    font-weight: bold;
    font-size: 2rem;
}

.text-content{
    font-size: 1.5rem;
}

.mb-6{
    margin-bottom: 6rem !important;
}